<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Record Shop</title>
  <link href="https://fonts.googleapis.com/css?family=Patua+One|Rokkitt:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya|Rubik" rel="stylesheet">

  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/inventory">Inventory</a></li>
      <li><a href="/artists/new">Add Artist</a></li>
      <li><a href="/inventory/new-album">Add album Stock</a></li>
    </ul>
  </nav>
  <%= yield%>
</body>
</html>
