<h1>Inventory</h1>

<% @albums.each do |album| %>

<p><%=Artist.find(album.artist_id).name%></p>
<p>Title: <%= album.title() %></p>
<p>quantity: <%= album.quantity %></p>


<p><a href="/albums/<%= album.id%>">album info</a></p>

<% end %>
