<form action="/inventory" method="post">
  <label for="name">Artist-name</label>
  <input type="text" name="name" id="name">

  <input type="submit"  value="Add artist">

</form>


<form action="/inventory" method="post">
  <label for="title">Album title</label>
  <input type="text" name="title" id="title">

  <label for="quantity">quantity</label>
  <input type="number" name="quantity" id="quantity">

  <input type="submit" value="add stock">
</form>
