
body {
  background-color: rgba(162, 30, 30, 0.98);
  padding: 0;
  margin: 0;
}

header{
  border-top: solid;
  border-bottom: solid;
  background-color:rgb(68, 79, 66);
  display:flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header.inventory{
  background: url("/images/vinyl_2.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;

}

h1.inventory{
  letter-spacing: normal;
  color: rgb(13, 180, 180);
  font-family:'Oswald', sans-serif;
}


h1{
  letter-spacing: 0.5em;
  font-family: 'Oswald', sans-serif;
  display:flex;
  justify-content: center;
  color:rgb(13, 180, 180);
  font-size: 60px;
}

p{
  display: flex;
  font-family:'Rubik' , sans-serif;
  justify-content: center;
  color: white;
  font-size: 40px;
}



ul{
  background-color: darkslategrey;
  border-bottom: solid;
  display: flex;
  flex-direction: row;
  margin: 0;
}

li{
  display: flex;
  border-right: solid;
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
  margin: 0;
}

a{
  display: flex;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}

a:link{
  color: rgb(255, 255, 255);
}

a:visited{
  color: rgb(13, 180, 180);
}

a:hover{
  color: rgb(62, 218, 218);
}

a:active{
  color: rgb(87, 11, 162);
}

.button {
  text-decoration: none;
  background-color: #f1ebeb;
  padding: 1px 3px 1px 3px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 10px 20px;

}

a.button{
 display:inline-block;
 font-family: 'Rubik', sans-serif;
 color: rgb(22, 20, 15);
 font-size: 22px;
 padding: 10px;


}

/* styles for inventory tables */

table{
  padding: 20px;
  margin: 10px;
}

table,th,td{
  border: 1px solid black;
  border-spacing: inherit;
  border-collapse: collapse;
}

th,td{
  padding: 5px;
}

th{
  font-family: sans-serif;
  color: rgb(10, 10, 10);
}

td{
  background-color: rgb(177, 187, 203);
  font-family: sans-serif;
  text-align: center;
  color: black;
}

td.special{
  border-style: hidden;
  font-family: sans-serif;
    background-color: rgba(162, 30, 30, 0.98);
    text-align: justify;
    font-size: 20px;
}

/* forms */

label.hidden{
  display:none;
}
input.hidden{
  display: none;
}

label{
  display:inline-block;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}

input[type=text]{
  font-size: 15px;
  width: 10%;
  padding: 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: rgb(159, 164, 164)
}

input[type= submit]{
  background-color: #3a7a46;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    margin: 5%;
    text-decoration: none;
    cursor: pointer
}

input[type= number]{
  font-size: 15px;
  width: 10%;
  padding: 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: rgb(159, 164, 164)
}

select{
  width: 20%;
  padding: 5% 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: rgb(159, 164, 164);
}

/* create page link to add stock */

a.new-album{
  background-color: #b9b3ad;
    color: rgb(2, 103, 117);
    border-radius: 4px;


}
