<form action="/inventory" method="post">


<label for="title">title</label>
<input type="title" name="title" id="title" value="<%=@album.title%>">

<label for="quantity">quantity</label>
<input type="number" name="quantity" value="<%=@album.quantity%>">

<input type="submit" name="update stock" value="update stock">

</form>
